# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app

*.bsc

# file types that ought to get easily left in
*.psd
*.pdn
*.zip
*.rar

# Local build files
[Ss]rc/[Bb]uild/

# Configs and user files
[Vv]alve/config.*
[Vv]alve/video.*
[Vv]alve/opengl.*
[Vv]alve/levelshots
[Vv]alve/save
[Vv]alve/demoheader.*

# Node graphs
[Vv]alve/maps/graphs

# User map compile files
[Dd]ev/maps/*.jmx
[Dd]ev/maps/*.rmx
[Dd]ev/maps/*.map
[Dd]ev/maps/*.max
[Dd]ev/maps/*.prt
[Dd]ev/maps/*.ext
[Dd]ev/maps/*.wa_
[Vv]alve/maps/*.jmx
[Vv]alve/maps/*.rmx
[Vv]alve/maps/*.prt
[Vv]alve/maps/*.ext
[Vv]alve/maps/*.wa_
[Vv]alve/maps/*.max

*.lin
*.p0
*.p1
*.p2
*.p3
*.prt
*.pts
*.log

# Ignore all logs
*.log

# Ignore these folders
*.vs
.vs/
*J.A.C.K

# Ignore code bullshit
*.tlog
*.sbr
*.pdb
*.bsc
/J.A.C.K
